/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --mainColor: #2e75ff;
    --mainFont: "Montserrat", sans-serif;

    --bigFontSize: 38px;
    --mediumFontSize: 24px;
    --smallFontSize: 18px;
}

body {
    font-family: var(--mainFont);
    height: 4000px;
}

/* header and nav */

header {
    background-color: var(--mainColor);
    position: fixed;
    top: 0;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0 50px;
    height: 100px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

header nav h1 {
    flex-grow: 2;
    color: white;
}

header nav h1 i {
    color: white;
    font-size: var(--mediumFontSize);
}
header nav ul {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    background-color: transparent;
    border: none;
}

.hamburger-menu i {
    color: white;
    font-size: 50px;
}

/* main and head */

main {
    margin-top: 100px;
}

main .head {
    display: flex;
    justify-content: center;
    background-color: var(--mainColor);
    padding-top: 100px;
}

.head .head-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*  */
    color: white;
}

.head .head-text-container h1 {
    font-size: var(--bigFontSize);
    margin-bottom: 20px;
}

.head .head-text-container p {
    margin-bottom: 20px;
    font-size: var(--smallFontSize);
    width: 500px;
}
.head img {
    width: 50em;
}
.btn {
    border: none;
    color: var(--mainColor);
    background-color: white;
    font-family: var(--mainFont);
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.btn a {
    color: var(--mainColor);
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.head-text-container button {
    width: 200px;
    height: 50px;
}

/* features page */

.features {
    text-align: center;
    padding: 100px 0;
}
.features h1 {
    font-size: var(--bigFontSize);
    color: var(--mainColor);
    margin: 100px;
}

i {
    font-size: 100px;
    color: var(--mainColor);
}

.features-container {
    display: flex;
    justify-content: center;
}

.features-item {
    flex-wrap: wrap;
    width: 800px;
    padding: 50px;
}

.features-item h2 {
    font-size: var(--mediumFontSize);
    margin: 20px 0 50px 0;
}

.features-item p {
    font-size: var(--smallFontSize);
}

/* progress page */
.progress {
    background-color: var(--mainColor);
    text-align: center;
    padding-top: 100px;
}

.progress h1 {
    font-size: var(--bigFontSize);
    color: white;
}

.progress-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 100px;
}

.progress-card-container {
    margin-left: 100px;
}
.progress-content img {
    width: 800px;
}

.progress-card-item {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px 120px;
    margin-bottom: 100px;
    border-radius: 100px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.progress-card-item:hover {
    transform: scale(1.1);
}
.progress-card-text {
    text-align: start;
}

.progress-card-item i {
    font-size: 80px;
    margin-right: 50px;
}

.progress-card-item h2 {
    font-size: var(--mediumFontSize);
    color: var(--mainColor);
}
.progress-card-item p {
    font-size: var(--smallFontSize);
}

.review {
    padding-top: 150px;
    text-align: center;
}
.review h1 {
    font-size: var(--bigFontSize);
    color: #2e75ff;
    margin-bottom: 50px;
}
.review-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.review-card-item {
    background-color: white;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.review-card-item:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
}
.review-card-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0;
    border-radius: 50%;
}
.review-card-item .rating {
    font-size: var(--smallFontSize);
    margin-bottom: 50px;
}

.rating i {
    font-size: 25px;
    color: rgb(255, 196, 0);
}
.review-card-item h1 {
    font-size: var(--mediumFontSize);
    margin-bottom: 20px;
    margin-top: 20px;
}

.download {
    background-color: var(--mainColor);
    margin-top: 100px;
    padding-top: 100px;
    display: flex;
}

.download {
    display: flex;
    justify-content: center;
}

.download-text-container {
    text-align: center;
}
.download h1 {
    font-size: var(--bigFontSize);
    color: white;
    margin-bottom: 100px;
}

.download-text-container p {
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.download-text-container button {
    text-align: center;
    padding: 20px;
    margin-right: 20px;
}
.download-text-container button i {
    font-size: var(--bigFontSize);
}

.download h1 span {
    color: #48fa74;
}

.about {
    text-align: center;
    padding: 150px 0;
    background-color: var(--mainColor);
}

.about-card {
    margin: auto;
    width: 500px;
    padding: 50px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.about-card:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.about-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about h1 {
    font-size: var(--bigFontSize);
    color: white;
    margin-bottom: 50px;
}

.about-card h2 {
    font-size: var(--mediumFontSize);
    margin-top: 20px;
}

.social-media-container i {
    font-size: 40px;
    margin: 20px 10px 0 10px;
    transition: all 0.3s ease-in-out;
}
.social-media-container i:hover {
    transform: translateY(-5px);
}

footer {
    padding: 200px 0 100px 0;
    text-align: center;
    background-color: var(--mainColor);
    color: white;
    font-size: var(--smallFontSize);
}

/* media queries */

@media only screen and (max-width: 1024px) {
    main .head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--mainColor);
        padding-top: 100px;
    }

    .review-card-container {
        flex-direction: column;
    }
    .review-card-item {
        margin: 50px 0;
        width: 80%;
    }
    .head .head-text-container {
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .head-text .head .head-text-container h1 {
        font-size: var(--bigFontSize);
        margin-bottom: 20px;
    }

    .head .head-text-container p {
        margin-bottom: 20px;
        font-size: var(--smallFontSize);
        width: auto;
    }
    .head img {
        width: 400px;
        margin-left: 0;
    }

    .progress-content {
        flex-direction: column;
    }

    .progress-card-container {
        margin-left: 0;
        width: 80%;
    }
    .progress-content img {
        width: 400px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 720px) {
    header nav ul {
        display: none;
        opacity: 0;
    }
    .features-container {
        flex-direction: column;
    }
    .features-item {
        width: 100%;
    }

    .about-card {
        width: 80%;
    }
    .hamburger-menu {
        display: flex;
    }
}

.show {
    display: flex;
    width: 60%;
    padding: 40px 0;
    background-color: #2e75ff;
    animation: fade 0.3s ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
